
.btn {
	border-radius: 4px;
	padding: .6rem 1rem;
	transition: .25s;
}

.btn-primary {
	background-color: #2575dc;
	border-color: #2575dc;
}

.btn-danger {
	background-color: #f4645f;
	border-color: #f4645f
}

.btn-sm {
	font-size: 14px
}