
.team-member__details {
	display: flex;
	flex-direction: column;
	padding-right: 1rem;
}

.team-member__name {
	font-size: 1.125rem;
	color: $text-dark;
}

.team-member__position {
	color: $text-dark-muted;
	@extend .font-sm;
}

.team-card {
	width: 250px;
	margin-bottom: 3rem;
}

.team-card-body {
	background: #fff;
	padding: 1rem;
}

.team-card-actions .btn {
	border-radius: 0;
}