
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

@import "utilities/utilities";
@import "framework";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	padding-top: 3rem;
	@include media-breakpoint-up(lg) {
		padding-top: 5rem;
	}
}

.clears-nav {
	margin-top: $navbar-height;
}
